.toolbar-horizontal {
  #header {
    top: 39px;
  }

  .collapse-content:not(.collapse-inline) {
    padding-top: calc($dd-collapse-content-padding-top-md + 39px);

    .collapse-toggler {
      top: calc($dd-collapse-content-padding-top-md + 39px);
    }
  }

  &.toolbar-tray-open {
    padding-top: 195px !important;

    #header {
      top: 79px;
    }

    .collapse-content:not(.collapse-inline) {
      padding-top: calc($dd-collapse-content-padding-top-md + 79px);

      .collapse-toggler {
        top: calc($dd-collapse-content-padding-top-md + 79px);
      }
    }
  }
}

