.toolbar-horizontal {
  #header {
    //top: 39px;
  }

  .collapse-content:not(.collapse-inline) {
    &.collapse-desktop,
    &.collapse-all{
      top: calc($dd-collapse-content-padding-top-md + 79px);

      .collapse-toggler {
        top: 20px;
      }
    }
  }

  &.toolbar-tray-open {
    .collapse-content {
      &.collapse-desktop,
      &.collapse-all{
        top: calc($dd-collapse-content-padding-top-md + 79px);
        nav.block .dropdown ul{
          top: 0;
        }
        .collapse-toggler {
          top: 20px;
        }
      }

    }
  }

  padding-top: calc($dd-collapse-content-padding-top + 39px) !important;
  @screen md{
    padding-top: calc($dd-collapse-content-padding-top-md + 39px) !important;
  }
  header{
    top: 39px;
    @screen md{
      top: 39px;
    }
  }

  &.toolbar-tray-open{

    padding-top: calc($dd-collapse-content-padding-top + 79px) !important;
    @screen md{
      padding-top: calc($dd-collapse-content-padding-top-md + 79px) !important;
    }

    header{
      top: 79px;
      @screen md{
        top: 79px;
      }
    }
  }

}

.toolbar-vertical{
  padding-top: 39px !important;
  @screen md{
    padding-top: 39px !important;
  }

  header{
    top: 0;
    @screen md{
      top: 0;
    }
  }
}
