.toolbar-horizontal {
  #header {
    //top: 39px;
  }

  .collapse-content:not(.collapse-inline) {
    &.collapse-desktop,
    &.collapse-all{
      top: calc($dd-collapse-content-padding-top-md + 79px);

      .collapse-toggler {
        top: 20px;
      }
    }
  }

  &.toolbar-tray-open {
    .collapse-content {
      &.collapse-desktop,
      &.collapse-all{
        top: calc($dd-collapse-content-padding-top-md + 79px);
        nav.block .dropdown ul{
          top: 0;
        }
        .collapse-toggler {
          top: 20px;
        }
      }

    }
  }
}

