.footer{
  .footer-top{
    padding: $dd-footer-main-padding;
    border-bottom: $dd-footer-separator;
    background-color: $dd-footer-bg;
    color: $dd-footer-text;
    .block{
      margin-bottom: 1rem;
      h2{
        color: inherit;
      }
    }
  }
  .footer-bottom{
    padding: $dd-footer-bottom-main-padding;
    background-color: $dd-footer-bottom-bg;
    color: $dd-footer-bottom-text;
    p:last-child{
      margin-bottom: 0;
    }
  }

  img{
    margin-bottom:2rem;
  }
  a{
    color: inherit;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
  }
  h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0;
  }
  nav{
    li{
      margin-bottom: 10px;
    }
    a{
      padding: 0
    }
  }
  p{
    margin-bottom: 10px;
  }
}

.footer .footer-middle{
  padding: $dd-gutter-width--desktop;
}

.region-footer-middle{
  @apply row;
  .block:not(.block-googlereviews-rating){
    @apply col;
  }
  .block-googlereviews-rating{
    @apply col-auto;
  }
}
