.footer{
  background-color: $dd-footer-bg;
  color: $dd-footer-text;
  .footer-top{
    padding: $dd-footer-main-padding;
    border-bottom: 1px solid $dd-gray-dark-inverse;
    .block{
      margin-bottom: 1rem;
    }
  }
  .footer-bottom{
    padding: 1rem 0;
  }

  img{
    margin-bottom:2rem;
  }
  a{
    color: inherit;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
  }
  h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0;
  }
  nav{
    li{
      margin-bottom: 10px;
    }
    a{
      padding: 0
    }
  }
  p{
    margin-bottom: 10px;
  }
}

.footer .footer-middle{
  padding: calc($dd-gutter-width--desktop*2);
}

.region-footer-middle{
  @apply row;
  .block:not(.block-googlereviews-rating){
    @apply col;
  }
  .block-googlereviews-rating{
    @apply col-auto;
  }
}
