.img-responsive{
  max-width: 100%;
  height: auto;
}

.page-style-thin{
  main{
    .region-content{
      max-width: $dd-thin-page-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.field--label-inline{
  display: flex;
  .field--label{
    &::after{
      content:":";
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.layout-content{
  padding-bottom: 3rem;
}

main{
  //margin-bottom: calc($dd-padding-base*2);
}

.path-frontpage{
  main{
    margin-bottom: 0;
  }
}

.region-content-bottom-wide{
  margin-top: calc($dd-gutter-width);
  @screen md{
    margin-top: calc($dd-gutter-width--desktop *2);
  }
}

.page-404 .block-system-main-block {
  font-size: 1.3rem;
  padding-bottom: calc($dd-gutter-width);;
  @screen md{
    padding-bottom: calc($dd-gutter-width--desktop * 3 );
  }
}

header.header{
  position: fixed;
  top:0;
  width: 100%;
}

body{
  padding-top: $dd-collapse-content-padding-top!important;
  @screen md{
    padding-top: $dd-collapse-content-padding-top-md!important;
  }
}
