@layer base {
  :root {
    --color-primary: 57, 162, 219;
    --color-secondary: 209, 118, 21;
    --color-dd-gray: 218, 218, 218;
    --color-dd-gray-dark: 29, 29, 29;

    --color-primary-hex: #39A2DB;
    --color-secondary-hex: #D17615;
    --color-dd-gray-hex: #DADADA;
    --color-dd-gray-dark-hex: #1D1D1D;

    --color-dd-success: #0D9488;
    --color-dd-warning: #F97316;
    --color-dd-danger: #EF4444;
  }
}


$dd-text-color-light: #6f6f6f;
$dd-text-color-dark: #333;
$dd-body-color: $dd-text-color-dark;

$dd-primary:rgba(var(--color-primary), 1)!default;
$dd-secondary: rgba(var(--color-secondary), 1)!default;
$dd-gray: rgba(var(--color-gray), 1)!default;
$dd-gray-dark: rgba(var(--color-gray), 1)!default;

$dd-primary-hex:#39A2DB!default;
$dd-secondary-hex: #D17615!default;
$dd-gray-hex: #DADADA!default;
$dd-gray-dark-hex: #1D1D1D!default;

$dd-bg-primary--text: white;
$dd-bg-dark-gray--text: white!default;
$dd-bg-secondary--text: white!default;

$dd-success-color:#0D9488!default;
$dd-warning-color: #F97316!default;
$dd-danger-color: #EF4444!default;

$dd-success-color--text: #22c55e!default;
