@layer base {
  :root {
    --color-primary:#39A2DB;
    --color-primary-darken: #{darken(#39A2DB, 20%)};

    --color-secondary: #D17615;
    --color-secondary-darken: #{darken(#D17615, 20%)};

    --color-dd-gray: #DADADA;
    --color-dd-gray-2: #{darken(#DADADA, 10%)};
    --color-dd-gray-3: #{darken(#DADADA, 20%)};

    --color-dd-gray-dark: #1D1D1D;

    --color-dd-success: #0D9488;
    --color-dd-succes-darken: #{darken(#0D9488, 10%)};

    --color-dd-warning: #F97316;
    --color-dd-warning-darken: #{darken(#F97316, 10%)};

    --color-dd-danger: #EF4444;
    --color-dd-danger-darken: #{darken(#EF4444, 10%)};
  }
}

$dd-primary:var(--color-primary)!default;
$dd-primary-darken: var(--color-primary-darken)!default;
$dd-primary-inverse: white!default;

$dd-secondary: var(--color-secondary)!default;
$dd-secondary-darken: var(--color-secondary-darken)!default;
$dd-secondary-inverse: white!default;

$dd-success-color:var(--color-dd-success)!default;
$dd-success-color-darken:var(--color-dd-success-darken)!default;

$dd-warning-color: var(--color-dd-warning)!default;
$dd-warning-color-darken: var(--color-dd-warning-darken)!default;

$dd-danger-color: var(--color-dd-danger)!default;
$dd-danger-color-darken: var(--color-dd-danger-darken)!default;

$dd-gray: var(--color-dd-gray)!default;
$dd-gray-2: var(--color-dd-gray-2)!default;
$dd-gray-3:var(--color-dd-gray-3)!default;

$dd-gray-dark: var(--color-dd-gray-dark)!default;

// TODO REMOVE
$dd-bg-primary--text: white!default;
$dd-bg-dark-gray--text: white!default;
$dd-bg-secondary--text: white!default;

$dd-text-color-light: #6f6f6f;
$dd-text-color-dark: #333;
$dd-body-color: $dd-text-color-dark;

$dd-success-color--text: #22c55e!default;
