body{
  color: $dd-body-color;
}

.bg-primary {
  color: $dd-primary-inverse;
  a {
    color: inherit;
  }
}

.bg-dd-gray-dark {
  color: $dd-gray-dark-inverse;
  a {
    color: inherit;
  }
}

.text-dark-gray{
  color: $dd-gray-dark;
}
