@layer base {
  :root {
    --gap-base: 8px;
    --gap-base--col: 16px;
    --gap-base--desktop: 15px;
    --gap-base--col--desktop: 30px;
  }
}

$dd-gutter-width: var(--gap-base);
$dd-gutter-width--minus: calc(var(--gap-base) * -1);

$dd-gutter-width--desktop: var(--gap-base--desktop);
$dd-gutter-width--minus--desktop: calc(var(--gap-base--desktop) * -1);

.m-gutter{
  margin-bottom: calc($dd-gutter-width * 2);
  @screen md {
    margin-bottom: calc($dd-gutter-width--desktop * 2);
  }
}

@screen xl{
  .container,
  .container-fluid{
    padding-left: calc($dd-gutter-width--desktop*2);
    padding-right: calc($dd-gutter-width--desktop*2);
  }
}

.row.g-xs{
  margin-left: calc($dd-gutter-width * (-0.5));
  margin-right: calc($dd-gutter-width * (-0.5));
  & > .col{
    padding-left: calc($dd-gutter-width * 0.5);
    padding-right: calc($dd-gutter-width * 0.5);
  }
}

/*
.container,
.container-fluid {
  padding-left: $dd-gutter-width--desktop;
  padding-right: $dd-gutter-width--desktop;
  @screen md {
    padding-left: $dd-gutter-width--desktop;
    padding-right: $dd-gutter-width--desktop;
  }
}

.row {
  margin-left: $dd-gutter-width--minus;
  margin-right: $dd-gutter-width--minus;
  @screen md {
    margin-left: $dd-gutter-width--minus--desktop;
    margin-right: $dd-gutter-width--minus--desktop;
  }
}

.col,
.col-auto {
  padding-left: $dd-gutter-width;
  padding-right: $dd-gutter-width;
  @screen md {
    padding-left: $dd-gutter-width--desktop;
    padding-right: $dd-gutter-width--desktop;
  }
}
*/
