@mixin price-style($font-size){
  color: $dd-price-color;
  font-weight: 600;
  @if $font-size == lg {
    font-size: 1.8rem;
  }
  @if $font-size == md {
    font-size: 1.4rem;
  }
  @if $font-size == sm {
    font-size: 1.2rem;
  }
}
