@mixin price-style($font-size){
  font-weight: 700;
  line-height: 100%;
  color: $dd-price-primary-color;

  @if $font-size == lg {
    .calculated-price{
      font-size: 1.5em;
    }
    .base-price {
      font-size: 1.3rem;
    }
  }
  @if $font-size == md {
    .calculated-price{
      font-size: 1rem;
    }
    .base-price {
      font-size: 0.8rem;
    }
  }
  @if $font-size == sm {
    .calculated-price{
      font-size: 1.2rem;
    }
    .base-price {
      font-size: 1rem;
    }
  }

  .calculated-price{
    //color: $dd-price-color;
    display: inline-block;
    line-height: 100%;
    padding: .4rem .6rem;
    background-color: $dd-cart-color-bg;
    color: $dd-cart-color-text;
  }
  .original-price{
    margin-left: $dd-gutter-width;
  }

  .discounted-text{
    font-size: .8rem;
    color: $dd-price-secondary-color;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: $dd-gutter-width;
  }

  .original-price-text{
    font-size: .8rem;
    margin-right: $dd-gutter-width;
  }

  .base-price {
    //text-decoration: line-through;
    color: $dd-gray-dark;
  }

  .promotion-name{
    font-size: .8rem;
    white-space: nowrap;
    font-weight: normal;
  }
}
