// Layout

$dd-border-light: 1px solid $dd-gray!default;
$dd-padding-base: 1rem!default;
$dd-padding-sm: .75rem!default;
$dd-thin-page-width: 600px!default;
$dd-page-text-color: var(--color--dd-text-primary)!default;

//Header
$dd-header-main-bg: white!default;
$dd-header-main-padding: 1rem 0!default;
$dd-header-main-border:  5px solid $dd-primary!default;

$dd-header-top-bg: $dd-gray-dark!default;

//Footer
$dd-footer-bg: $dd-gray-dark!default;
$dd-footer-text: white!default;
$dd-footer-main-padding: 2rem 0 1rem!default;

//Collapse
$dd-collapse-width: 300px!default;
$dd-collapse-width-md: 400px!default;
$dd-collapse-content-padding-top: 80px!default;
$dd-collapse-content-padding-top-md: 140px!default;
$dd-collapse-padding-x: 15px!default;

// Forms
$dd-input-border: 1px solid $dd-gray-dark!default;
$dd-input-focus-border: 1px solid $dd-primary!default;
$dd-input-box-shadow: none!default;

//Buttons
$dd-button-font-weight: 600!default;
$dd-button-padding: 0.5rem 0.75rem!default;
$dd-button-padding-small: 0.25rem 0.5rem!default;
$dd-button-text-transform: uppercase!default;
$dd-button-font-size: 1rem!default;
$dd-button-min-width: 120px!default;

$dd-button-primary-bg: $dd-primary!default;
$dd-button-primary-hover-bg: $dd-primary-darken!default;
$dd-button-primary-text: $dd-primary-inverse!default;
$dd-button-primary-hover-text: $dd-primary-inverse!default;

$dd-button-secondary-bg: $dd-secondary!default;
$dd-button-secondary-text: $dd-secondary-inverse!default;

// Headings
$dd-heading-font-weight: 600!default;
$dd-heading-font-family: $dd-font-family-primary!default;

// Icons
$icon-height: 1.6rem !default;
$icon-height--xs: 1rem !default;
$icon-height--xl: 4rem !default;

// Alerts
$alert-text-color: white!default;
$alert-padding: 10px 15px!default;

$dd-price-color: $dd-primary!default;

// Mailerlight
$dd-mailerlite-bg: $dd-primary!default;
$dd-mailerlite-text: $dd-primary-inverse!default;

// Reviews
$dd-review-bg:  $dd-gray-lighter;
$dd-review-text: $dd-gray-dark;
$dd-review-text-secondary: $dd-gray-4;
