.btn{
  padding: $dd-button-padding;
  font-weight: $dd-button-font-weight;
  text-transform: $dd-button-text-transform;
  font-size: $dd-button-font-size;
  min-width: $dd-button-min-width;

  text-align: center;
  display: inline-block;
  margin-right: 1rem;

  svg{
    margin-left: auto;
    margin-right: auto;
  }
  &:last-of-type{
    margin-right: 0;
  }
}

.btn-primary{
  background: $dd-button-primary-bg;
  color:$dd-button-primary-text;
  svg{
    fill: $dd-button-primary-text;
  }
  &:hover,
  &:focus{
    background-color: $dd-button-primary-hover-bg;
    color: $dd-button-primary-hover-text;
    svg{
      fill:$dd-button-primary-hover-text;
    }
  }
}

.btn-secondary{
  background: $dd-button-secondary-bg;
  color:$dd-button-secondary-text;
  svg{
    fill: $dd-button-secondary-text;
  }
}

.btn-gray{
  background: $dd-gray;
}

.btn-gray-middle{
  background: $dd-gray-2;
}

.btn-gray-dark{
  background: $dd-gray-dark;
  color: white;
  svg{
    fill: white;
  }
}

.btn-small{
  @apply text-sm;
  padding: $dd-button-padding-small;
}
