.btn{
  padding: $dd-button-padding;
  font-weight: $dd-button-font-weight;
  text-transform: $dd-button-text-transform;
  font-size: $dd-button-font-size;
  min-width: $dd-button-min-width;

  text-align: center;
  display: inline-block;
  margin-right: 1rem;

  svg{
    margin-left: auto;
    margin-right: auto;
  }
  &:last-of-type{
    margin-right: 0;
  }
}

.btn-primary:not(.btn-cart-color){
  background: $dd-button-primary-bg;
  color:$dd-button-primary-text;
  svg{
    fill: $dd-button-primary-text;
  }
  &:hover,
  &:focus{
    background-color: $dd-button-primary-hover-bg;
    color: $dd-button-primary-hover-text;
    svg{
      fill:$dd-button-primary-hover-text;
    }
  }
}

.btn.button--add-to-cart,
.btn-cart-color{
  background: $dd-price-primary-color-bg;
  color:$dd-price-primary-color;

  svg{
    fill: $dd-price-primary-color;
  }
  &:hover,
  &:focus{
    background: $dd-price-primary-color-bg-darken;
    color:$dd-price-primary-color;
    svg{
      fill:$dd-price-primary-color;
    }
  }
}

.btn-lg{
  padding: $dd-button-padding-lg;
}

.btn.btn-cart-color--md{
  font-size: 1.1rem;
  padding: $dd-button-padding-medium;
  color: $dd-price-primary-color;
}

.btn-secondary{
  background: $dd-button-secondary-bg;
  color:$dd-button-secondary-text;
  svg{
    fill: $dd-button-secondary-text;
  }
}

.btn-gray{
  background: $dd-gray;
  color: $dd-gray-dark;
  &:hover,
  &:focus{
    background-color: $dd-gray-dark;
    color: $dd-gray;
  }
}

.btn-gray-middle{
  background: $dd-gray-2;
}

.btn-gray-dark{
  background: $dd-gray-dark;
  color: white;
  svg{
    fill: white;
  }
}

.btn-outline{
  background-color: transparent;
  border: 1px solid $dd-gray-dark;
  color: $dd-gray-dark;
  &:hover,
  &:focus{
    background-color: $dd-gray-lighter;
  }
}

.btn-outline--light{
  background-color: transparent;
  border: 1px solid $dd-gray;
  color: $dd-gray;
  &:hover,
  &:focus{
    background-color: $dd-gray-lighter;
  }
}

.btn-small{
  @apply text-sm;
  padding: $dd-button-padding-small;
}

.btn-xs{
  @apply text-sm;
  padding: $dd-button-padding-xs;
}

.btn-inline{
  min-width: inherit;
  margin-right: 0;
}
