.form-actions {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-item {
  margin-bottom: 1.5rem;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;

    &.option {
      display: inline-block;
    }
  }

  .description {
    @apply text-sm mt-1;
  }
}

select, input {
  max-width: 100%;
  width: 100%;
}

fieldset.form-item {
  margin-bottom: 2rem;

  legend {
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: $dd-gray-hex;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .fieldset-wrapper {
    border: 1px solid $dd-gray-hex;
    padding: 15px;
  }
}

.form-input {
  border: $dd-input-border;
  color: $dd-gray-dark-hex;

  &:focus {
    border: $dd-input-focus-border;
    box-shadow: $dd-input-box-shadow;
  }

  &.error {
    border-color: $dd-danger-color;
  }

  &.valid {
    border-color: $dd-success-color--text;
    & + .form-item-state-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      display: block;
      background-color: $dd-success-color--text;
      -webkit-mask: url(../../images/icons/material-icons/check_black_24dp.svg) no-repeat 50% 50%;
      mask: url(../../images/icons/material-icons/check_black_24dp.svg) no-repeat 50% 50%;
    }
  }
}

label.error {
  color: $dd-danger-color;
  font-size: .8rem;
  margin-top: 2px;
  position: absolute;

  & + .form-item-state-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    display: block;
    background-color: $dd-danger-color;
    -webkit-mask: url(../../images/icons/material-icons/close_black_24dp.svg) no-repeat 50% 50%;
    mask: url(../../images/icons/material-icons/close_black_24dp.svg) no-repeat 50% 50%;
  }
}

.js-form-type-checkbox,.js-form-type-radio  {
  display: flex;

  input {
    margin-right: 10px;
    margin-top: 5px;
  }
}

textarea {
  max-width: 100%;
  width: 100%;
}

.google-login-separator {
  margin-bottom: $dd-gutter-width--desktop;
  text-align: center;
}

#google-signin-container {
  margin-bottom: $dd-gutter-width--desktop;
}

.password-strength,
.password-suggestions {
  @apply text-sm;
}

.password-strength{
  margin-top: calc($dd-padding-base * 1.5);
}

.password-confirm-message,
.password-strength__title,
.password-strength__meter {
  margin-top: $dd-padding-base;
  display: block;
}

.password-strength__text,
.password-confirm-message {
  font-weight: bold;
}

.is-weak {
  background-color: $alert--danger-bg;
}

.is-strong {
  background-color: $alert--success-bg;
}
