.form-actions{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-item{
  margin-bottom: 1rem;
  label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    &.option{
      display: inline-block;
    }
  }
  .description{
    @apply text-sm mt-1;
  }
}

select, input{
  max-width: 100%;
  width: 100%;
}

fieldset.form-item{
  margin-bottom: 2rem;
  legend{
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: $dd-gray-hex;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .fieldset-wrapper{
    border: 1px solid $dd-gray-hex;
    padding: 15px;
  }
}

.form-input{
  border: $dd-input-border;
  &:focus{
    border: $dd-input-focus-border;
    box-shadow: $dd-input-box-shadow;
  }
}

.js-form-type-checkbox{
  display: flex;
  input{
    margin-right: 10px;
    margin-top: 5px;
  }
}

textarea{
  max-width: 100%;
  width: 100%;
}

.google-login-separator{
  margin-bottom: $dd-gutter-width--desktop;
  text-align: center;
}

#google-signin-container{
  margin-bottom: $dd-gutter-width--desktop;
}
