.form-actions {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.form-item {
  margin-bottom: 1.5rem;

  .form-item-input-outer {
    position: relative;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;

    &.option {
      display: inline-block;
    }
  }

  .description {
    @apply text-sm mt-1;
  }
}

select, input {
  max-width: 100%;
  width: 100%;
}

fieldset.form-item {
  margin-bottom: 2rem;

  legend {
    display: block;
    width: 100%;
    max-width: 100%;
    background-color: $dd-gray-hex;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .fieldset-wrapper {
    border: 1px solid $dd-gray-hex;
    padding: 15px;
  }
}

.form-input {
  border: $dd-input-border;
  color: $dd-gray-dark-hex;

  &:focus {
    border: $dd-input-focus-border;
    box-shadow: $dd-input-box-shadow;
  }

  &.error {
    border-color: $dd-danger-color;
  }

  &.required.valid {
    border-color: $dd-success-color--text;

    & + .form-item-state-icon,
    & + label + .form-item-state-icon{
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      display: block;
      background-color: $dd-success-color--text;
      -webkit-mask: url(../../images/icons/material-icons/check_black_24dp.svg) no-repeat 50% 50%;
      mask: url(../../images/icons/material-icons/check_black_24dp.svg) no-repeat 50% 50%;
    }
  }
}

label.error:not([style*="display: none"]) {
  color: $dd-danger-color;
  font-size: .8rem;
  margin-top: 2px;
  position: absolute;

  & + .form-item-state-icon,
  & + label + .form-item-state-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    display: block;
    background-color: $dd-danger-color;
    -webkit-mask: url(../../images/icons/material-icons/close_black_24dp.svg) no-repeat 50% 50%;
    mask: url(../../images/icons/material-icons/close_black_24dp.svg) no-repeat 50% 50%;
  }
}

.js-form-type-checkbox, .js-form-type-radio {
  display: flex;
  //margin-bottom: 1rem;

  label {
    margin-bottom: 0;
  }

  input {
    margin-right: 10px;
    //margin-top: 5px;
  }

  .form-item-input-outer {
    position: static;
  }
}

textarea {
  max-width: 100%;
  width: 100%;
}

.google-login-separator {
  margin-bottom: $dd-gutter-width--desktop;
  text-align: center;
}

#google-signin-container {
  margin-bottom: $dd-gutter-width--desktop;
}

.password-strength,
.password-suggestions,
.password-confirm-message,
.password-strength__title,
.password-strength__meter{
  font-size: .8rem;
  line-height: 1;
}

.password-suggestions,
.password-strength__title{
  margin-top: .5rem;
}

.password-strength {
  margin-top: calc($dd-padding-base * 1.5);
}

.password-suggestions{
  font-weight: bold;
  ul{
    font-weight: normal;
    margin-top: $dd-gutter-width;
    padding-left: calc($dd-gutter-width--desktop * 2);
    li{
      list-style: disc;
    }
  }
}

.password-confirm-message,
.password-strength__title,
.password-strength__meter {
  //margin-top: $dd-padding-base;
  display: block;
}

.password-confirm-message:not([style*="visibility: hidden"]){
  margin-top: 1.5rem;
}

.password-strength__text,
.password-confirm-message {
  font-weight: bold;
}

.is-weak {
  background-color: $alert--danger-bg;
}

.is-strong {
  background-color: $alert--success-bg;
}

.js-form-type-password-confirm{
  & > .form-item-input-outer{
    @apply row;
    & > .form-item{
      @apply col-6;
    }
  }
}
