.title-breadcrumb {
  background-color: $dd-page-title-bg;
  color: $dd-primary-text;

  a {
    color: $dd-page-title-links;
    text-decoration: none;
  }

  nav{
    color: $dd-page-title-links;
  }

  svg{
    fill: $dd-page-title-links;
  }

  .region {
    margin-bottom: 2rem;

    .block {
      &:first-child {
        padding-top: 0.75rem;
      }

      &:last-child {

        padding-bottom: 0.75rem;
      }
    }

    @screen md {
      margin-bottom: 3rem;
    }
  }

  h1 {
    margin-top: 0;
    color: inherit;
    //text-transform: capitalize;
  }
}
