table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  width: 100%;
}

th, td {
  padding: 10px;
}

th {
  background-color: $dd-table-thead-bg;
  text-transform: uppercase;
  @apply text-sm;
  border-bottom: $dd-table-thead-border;
}

td {
  border-bottom: 1px solid $dd-table-border-color;
}

tr:last-child {
  td {
    border-bottom: none;
  }
}

.bg-dd-gray {
  table {
    td {
      border-color: white;
    }
  }
}

