.field--name-field-tags,
.field--name-field-category{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  .field--label {
    display: inline-flex
  }

  .field__items {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .field--item {
      margin: 0 10px 10px 0;
    }
  }

  a {
    background: $dd-gray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: $dd-gray-dark;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    text-decoration: none;
    font-size: .9rem;
    margin-right: $dd-gutter-width;
    margin-bottom: $dd-gutter-width;

    &:before {
      background: white;
      border-radius: 10px;
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }

    &::after {
      background: white;
      border-bottom: 13px solid transparent;
      border-left: 10px solid $dd-gray;
      border-top: 13px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
