.alert {
  border-left: 4px solid transparent;

  margin-bottom:var(--gap-base--col--desktop);
  margin-top: var(--gap-base--col--desktop);
  padding: $alert-padding;
  padding-right: 30px;
  color: $alert-text-color;
  position: relative;
  &--success {
    background-color: $dd-success-color;
    border-color: $dd-success-color-darken;
  }
  &--warning {
    background-color: $dd-warning-color;
    border-color: $dd-warning-color-darken;
  }
  &--danger {
    background-color: $dd-danger-color;
    border-color: $dd-danger-color-darken;
  }

  button.close{
    position: absolute;
    top:5px;
    right: 10px;
  }

  a{
    color: white;
    text-decoration: underline;
  }
}

.backtrace{
  white-space: break-spaces;
}
