.drupaldev-blog {
  h1, h2 {
    margin-top: 0;
  }


  .blog-date{
    color: $dd-text-color-light;
  }
}

.page-node-type-drupaldev-blog {
  main {
    margin-top: calc($dd-gutter-width--desktop * 3);
  }
}

.facet-style-block {
  margin-top: calc($dd-gutter-width--desktop * 2);
  h2 {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: $dd-gutter-width;

    background-color: $dd-facet-title-bg;
    color: $dd-facet-title-color;
    font-weight: $dd-facet-title-font-weight;
    font-size: $dd-facet-title-font-size;
    padding: $dd-facet-title-padding;
    margin: $dd-facet-title-margin;
    text-align: $dd-facet-title-text-align;
    text-transform: $dd-facet-title-text-transform;

    @screen md {
      background-color: $dd-facet-title-bg-md;
      color: $dd-facet-title-color-md;
      font-size: $dd-facet-title-font-size-md;
      padding: $dd-facet-title-padding-md;
      margin: $dd-facet-title-margin-md;
    }
  }

  .menu{
    li{
      font-size: 0.9rem;
      a{
        display: block;
        width: 100%;
        padding: $dd-gutter-width $dd-gutter-width--desktop;
        color: $dd-text-color-light;
        border-top: $dd-facet-link-border;
        @screen md {
          padding: $dd-gutter-width $dd-gutter-width--desktop;
          color: $dd-text-color-light;
          &.is-active{
            padding: $dd-gutter-width $dd-gutter-width--desktop;
          }
        }
      }
    }
  }
}

.blog-categories-menu{
  ul{
    display: none;
  }
}
