// Cart
@screen md{
  .table,
  .table.dataTable {
    .views-field-total-price__number {
      text-align: right;
    }

    .views-field-remove-button,
    .views-field-edit-quantity {
      text-align: center;
    }
  }

}

.view-commerce-cart-block {
  .table {
    margin-bottom: 0;
  }

  .order-total-line {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: none;
  }

  .order-total-line__total {
    display: none;
  }
}

.cart-block--contents__links{
  margin-top: $dd-gutter-width--desktop;
}


td.views-field-total-price__number,
td.views-field-unit-price__number {
  @include price-style(sm);
}

.cart-block--contents__links {
  a {
    @extend .btn;
    @extend .button--add-to-cart;
    display: block;
  }
}

.view-commerce-cart-form #edit-checkout,
.commerce-checkout-flow #edit-actions-next {
  @extend .btn-cart-color;
  @extend .btn-cart-color--md;
  //@apply text-2xl;
}

.view-commerce-cart-form #edit-submit {
  @extend .btn-outline;
}

.order-total-line {
  background-color: $dd-table-order-total-bg;
  //border-bottom: $dd-table-order-total-border;
  border-top: $dd-table-order-total-border;
  padding: 1rem 10px;
  text-align: right;
}

.order-total-line__total {
  background-color: $dd-table-order-total-total-bg;
  border-bottom: $dd-table-order-total-total-border;
}

button[id*="edit-shipping-information-recalculate-shipping"] {
  display: none;
}

.order-total-line-value {
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 15px;
}

.view-commerce-cart-form {
  table{
    margin-bottom: 0;
  }
  .form-item {
    margin-bottom: 0;
  }

  .btn {
    min-width: initial;
  }
}

// Checkout

.checkout-pane-email-registration-login {
  @apply row;
  display: block;
  overflow: hidden;

  & > fieldset {
    @apply col-12 md:col-6;
    float: left;
  }
}

#edit-email-registration-login-returning-customer-forgot-password {
  float: right;
  margin-top: $dd-gutter-width;
}

#google-signin-container {
  display: flex;
  justify-content: center;
}

.checkout-order-summary {
  td:last-child {
    text-align: right;
    @include price-style(sm);
  }
}

.checkout-progress--steps {
  margin-top: 2rem;
  margin-bottom: 3rem;

  a{
    color: $dd-gray-dark;
  }
}

.checkout-progress--step {
  //padding: 10px 10px;
  //font-weight: bold;
  //background-color: $dd-gray;
  //border: 1px solid white;
  color: $dd-gray-4;
  position: relative;
  &::before{
    background-color: $dd-gray-4;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;text-align: center;
    font-weight: bold;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $dd-gutter-width;
    z-index: 1;
    position: relative;
    content: counter(checkout-progress);
  }

  .checkout-step--line{
    width: 100%;
    height: 4px;
    background-color: white;
    display: block;
    position: absolute;
    top:15px;
    left: 50%;
    z-index: 0;
  }
  &.checkout-progress--step__previous,
  &.checkout-progress--step__current {
    //background-color: $dd-gray-dark;
    //color: $dd-gray-dark-inverse;
    font-weight: bold;
    color: $dd-primary-inverse;
    &::before{
      background-color: $dd-primary;
      color: $dd-primary-inverse;
    }
  }

  &.checkout-progress--step__previous{
    .checkout-step--line{
      background-color: $dd-primary;
    }
  }
}

// Login
.checkout-pane-login {
  @apply row;
  & > fieldset {
    @apply col-12 md:col-6;
  }
}

.checkout-cart {
}

div[id*="information-profile-address-0-address-ajax-wrapper"] > div {
  @apply row;
  @apply items-end;
  & > div {
    @apply col-12 md:col-6;
  }

  .address-container-inline {
    @apply row;
    padding: 0;
    margin: 0;
    width: 100%;

    .form-item {
      @apply col col-12 md:col-6;
    }
  }
}

#edit-login-returning-customer-forgot-password {
  float: right;
}

.layout-checkout-secondary {
  margin-bottom: 2rem;

  h3 {
    margin:0;
    background-color: white;
    color: $dd-primary-inverse;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
    font-size: 1.2rem;
    padding-bottom: 0;
  }

  .checkout-pane{
    padding: 1rem;
    background-color: white;
    margin-bottom: calc($dd-gutter-width--desktop * 2);
    &.checkout-pane-coupon-redemption{
      label{
        margin:0;
        color: $dd-primary-inverse;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: $dd-gutter-width--desktop;
      }
    }
  }


  table {
    margin-bottom: 0;
  }
}

.link--previous {
  @extend .btn;
  @extend .btn-outline;
  float: left;
}

.view-commerce-cart-form,
.checkout-form-wrapper {
  .form-actions {
    text-align: right;
  }
}

button[id*="edit-shipping-information-recalculate-shipping"] {
  display: none;
}

// TODO
.commerce-checkout-completion-register {
}

button[id*="edit-shipping-information-recalculate-shipping"] {
  display: none;
}

#edit-review-order-fieldscheckout {
  .field {
    margin-bottom: $dd-gutter-width--desktop;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field--label {
    font-weight: bold;
  }
}

.checkout-pane-email-registration-completion-registration {
  max-width: $dd-thin-page-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc($dd-gutter-width--desktop * 2);

  .commerce-checkout-completion-register__text {
    h2 {
      display: block;
      width: 100%;
      max-width: 100%;
      background-color: $dd-gray;
      padding: 15px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
      font-size: 1rem;
    }

    p {
      border: 1px solid $dd-gray;
      border-bottom: none;
      padding: 15px;
      font-weight: bold;
      @apply text-sm;
    }
  }

  .commerce-checkout-completion-register__form {
    border: 1px solid $dd-gray;
    border-top: none;
    padding: 15px;
  }

  .form-actions {
    margin-bottom: 0;
    text-align: left;
  }
}

.commerce-checkout-flow {
  margin-top: 2rem;

  fieldset.form-item{

    .fieldset-wrapper {
      border: none;
      fieldset .fieldset-wrapper{
        border: 1px solid $dd-gray;
      }
    }
  }

  .field--widget-commerce-shipping-rate {
    & > fieldset {
      margin-bottom: 0;
      margin-top: calc($dd-gutter-width--desktop * 2);
    }
  }

  fieldset {
    .field--name-address {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .field--widget-address-default {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  #edit-review-billing-profile,
  #edit-review-shipping-information {
    .field--name-address {
      margin: 0;
    }

    .field--name-shipping-method {
      margin-top: 1rem;
    }
  }

  .address-container-inline {
    @apply row;
    & > div {
      @apply col;
    }
  }

  a {
    color: $dd-gray-dark;
  }
}

@media screen and (max-width: 767px) {
  .view-commerce-cart-form table {
    display: block;

    thead {
      display: none;
    }

    tbody,
    tr, td {
      display: block;
      padding-top: calc($dd-gutter-width/2);
      padding-bottom: calc($dd-gutter-width/2);
      border: none;
    }

    td:not(.views-field-purchased-entity) {
      margin-left: 115px;
    }

    tr{
      border-bottom: $dd-border-light;
      position: relative;
      &:last-child{
        border-bottom: none;
      }
    }

    td.views-field-purchased-entity{
      padding-right: 55px;
    }

    .views-field-remove-button {
      //display: none;
      position: absolute;
      top:10px;
      right:0;
    }

    td > span {
      font-weight: normal;
      @apply text-sm;
      display: inline-block;
    }
  }
}

.path-checkout{
  background-color: $dd-checkout-bg;
}

