.fivestar-summary-average-count{
  display: flex;
  align-items: center;
}

.fivestar-static-form-item{
  .form-item{
    display: flex;
    align-items: center;
  }

}

.fivestar-summary-average-count{
  margin-left: $dd-gutter-width;
}

.comment{
  margin-bottom: calc($dd-gutter-width * 2);
  .links{
    display: flex;
    li{
      margin-right: $dd-gutter-width;
      /*a[href*="/reply/"]{
        display: none;
      }*/
    }
  }
}

.comment-form .fivestar-average-stars{
  margin-bottom: $dd-gutter-width;
  .js-form-type-select > label{
    display: none;
  }
  select{
    width: 0;
    height: 0;
    position: absolute;
  }

  label.error{
    position: static;
  }

  .fivestar-widget-6{
    .star-first{
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

#product-comment {
  .comment-none{
    margin-bottom: calc($dd-gutter-width--desktop);
  }
  .rating-sum{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    @screen md{
      float:left;
    }
    .field--name-field-rating{
      form{
        div.fivestar-widget-static .star{
          width: 30px;
          height: 30px;
        }
      }
      .description{
        float: left;
        width: auto;
      }

      .form-item{
        flex-direction: column-reverse;
        //align-items: flex-start;
        position: relative;
        padding-bottom: calc($dd-gutter-width*3);
      }
      .js-form-type-fivestar{
        padding-bottom: 0;
      }

      .fivestar-static-form-item{
        & > .form-item > .form-item-input-outer{
          float: right;
        }
      }
      .average-rating{
        @apply text-6xl;
        margin-right: $dd-gutter-width;
      }
      .total-votes{
        margin-top: 5px;
        bottom:0;
        left:0;
        position: absolute;
        text-align: center;
        width: 100%;
        @screen md{
          width: 150px;
        }
      }
    }
  }
  #commerce-product-default-field-rating-comment{
    //clear: both;
  }
}

article.comment{
  border-bottom: $dd-border-light;
  //padding: $dd-gutter-width--desktop;
  padding: $dd-gutter-width--desktop 0;
  margin-bottom: 0;
  .comment-rating{
    border-right: $dd-border-light;
    margin-right: $dd-gutter-width--desktop;
    padding-top: $dd-gutter-width;
    padding-bottom: $dd-gutter-width;
  }
  .comment-content{
    padding-top: $dd-gutter-width;
    padding-bottom: $dd-gutter-width;
  }
  .total-votes{
    display: none;
  }
  .fivestar-static-form-item .form-item{
    flex-direction: column;
    margin-right: $dd-gutter-width--desktop;
    .description{
      justify-content: center;
    }
  }
  .field--name-field-comment{
    margin: $dd-gutter-width 0;
  }
}

.comment-form-wrapper{
  margin-left: 220px;
  margin-bottom: $dd-gutter-width--desktop;
  .form-actions{
    margin-top: 0;
  }
}

#commerce-product-default-field-rating-comment{
  margin-left: 220px;
  article.comment:first-of-type{
    border-top: $dd-border-light;
  }
}


