.fivestar-summary-average-count{
  display: flex;
  align-items: center;
}

.fivestar-static-form-item{
  .form-item{
    display: flex;
    align-items: center;
  }

}

.average-rating{
  font-weight: bold;
  margin-right: $dd-gutter-width;
}

.fivestar-summary-average-count{
  margin-left: $dd-gutter-width;
}

.comment{
  margin-bottom: calc($dd-gutter-width * 2);
  .links{
    display: flex;
    li{
      margin-right: $dd-gutter-width;
      /*a[href*="/reply/"]{
        display: none;
      }*/
    }
  }
}

.comment-form .fivestar-average-stars{
  margin-bottom: $dd-gutter-width;
  .js-form-type-select > label{
    display: none;
  }
  select{
    width: 0;
    height: 0;
    position: absolute;
  }

  .fivestar-widget-6{
    .star-first{
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

#product-comment .comment-none{
  margin-bottom: calc($dd-gutter-width--desktop);
}
