header form,
.views-exposed-form form {
  display: flex;

  .form-item {
    flex: 1;
  }

  input {
    width: 100%;
    border-color: $dd-input-secondary-border;
  }

  .btn{
    min-width: auto;
    height: 100%;
  }
}

header{
  form{
    .form-item{
      margin-bottom: 0;
    }
  }
  .form-actions {
    margin: 0;
  }
}
