.block-facets {
  margin-bottom: calc($dd-gutter-width--desktop * 2);

  h2 {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: $dd-gutter-width;

    background-color: $dd-facet-title-bg;
    color: $dd-facet-title-color;
    font-weight: $dd-facet-title-font-weight;
    font-size: $dd-facet-title-font-size;
    padding: $dd-facet-title-padding;
    margin: $dd-facet-title-margin;
    text-align: $dd-facet-title-text-align;
    text-transform: $dd-facet-title-text-transform;

    @screen md{
      background-color: $dd-facet-title-bg-md;
      color: $dd-facet-title-color-md;
      font-size: $dd-facet-title-font-size-md;
      padding: $dd-facet-title-padding-md;
      margin: $dd-facet-title-margin-md;
    }
  }

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .facets-widget- {
    display: flex;
    width: 100%;
  }

  ul ul li {
    margin-left: 0;
  }
}

.block-facet--checkbox {
  padding: $dd-gutter-width--desktop 0;

  li {
    margin-bottom: calc($dd-gutter-width--desktop / 2);
    cursor: pointer;
  }

  span {
    margin-left: $dd-gutter-width;
  }

  label {
    cursor: pointer;
  }

  ul ul li {
    margin-left: $dd-gutter-width--desktop;
  }
}

.block-facet--drupaldev-links {
  h2 {
    //margin: 0;
  }
}

.block-facet--links {
  ul {
    width: 100%;
  }

  a {
    display: block;
    width: 100%;
    padding: $dd-gutter-width 0;
    color: $dd-gray-dark;
  }

  .facets-widget-links > ul {
    ul {
      a {
        padding-left: calc($dd-gutter-width * 3);
      }

      ul a {
        padding-left: calc($dd-gutter-width * 4);
      }
    }

    & > li:last-child {
      a {
        border-bottom: none;
      }
    }
  }

  a.is-active{
    background-color: $dd-facet-active-bg;
    padding: 5px 10px;
    display: block;
  }

  .facet-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      margin-left: 10px;
    }
  }
}

.block-facets ul ul li.facet-item {
  margin-left: 0;
}

@screen md {
  .block-facets {
    background-color: $dd-facet-bg;

    li {
      font-size: $dd-facet-link-font-size-md;
    }

    h2{
      //margin-bottom: $dd-gutter-width--desktop;
    }
  }

  .block-facet--links {
    h2 {
      //padding: $dd-gutter-width--desktop $dd-gutter-width--desktop 0;
    }

    a {
      border-top: $dd-facet-link-border;
      padding: $dd-gutter-width $dd-gutter-width--desktop;
      color: $dd-facet-link-color-md;
      &.is-active{
        padding: $dd-gutter-width $dd-gutter-width--desktop;
      }
    }

    .facets-widget-links > ul {
      ul {
        a {
          padding-left: calc($dd-gutter-width--desktop * 2);
        }

        ul a {
          padding-left: calc($dd-gutter-width--desktop * 3);
        }
      }
    }
  }

  .block-facet--drupaldev-links {
    h2 {
      //padding: $dd-gutter-width--desktop;
      border-bottom: $dd-border-light;
    }
  }

  .block-facet--checkbox {
    padding: $dd-gutter-width--desktop;
  }
}
