.block-googlereviews{
  padding: $dd-gutter-width--desktop 0;
}

.googlereviews-ratings-container{
  padding: $dd-gutter-width--desktop;
  .rating-source-logo{
    margin-right: $dd-gutter-width--desktop;
    margin-bottom: 0;
  }
  .rating-value{
    margin-right: $dd-gutter-width--desktop;
    @apply text-3xl;
    color: white;
  }
  .total-reviews a{
    color: white;
  }
}

@screen lg{
  .reviews-container{
    @apply row;
    .review-container{
      @apply col;
    }
  }
}


.review-container{
  @apply col;
  color: white;
  margin-bottom: 0;
  .review-author-name{
    font-weight: 600;
  }
  .review-date{
    margin-left: 0;
  }
  .stars-background,
  .stars-foreground{
    width: 200px;
  }

  .review-text{
    font-size: .8rem;
  }
}

.region-footer-middle{
  @apply row;
  .block:not(.block-googlereviews-rating){
    @apply col;
  }
  .block-googlereviews-rating{
    @apply col-auto;
  }
}
