nav ul li a {
  padding: 10px;
  display: flex;
  color: $dd-gray-dark;

  .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-top & {
    padding-left: 0;
  }
}

.header-top{
  ul:not(.contextual-links){
    @apply flex flex-col md:flex-row;
  }
}

.collapse-content .nav{
  li:hover{
    & > a:not(.back){
      background-color: $dd-collapse-link-hover-bg;
    }
  }
}

.collapse-content nav.block{
  h2{
    padding-left: $dd-collapse-padding-x;
    padding-right: $dd-collapse-padding-x;
  }
}

.collapse-content nav.block{
  @screen md{
    h2{
      padding-left: $dd-collapse-padding-x + 10px;
      padding-right: $dd-collapse-padding-x + 10px
    }
    li{
      padding-left: $dd-collapse-padding-x;
      padding-right: $dd-collapse-padding-x;
    }

    .icon{
      display: none;
    }
    .dropdown{
      ul{
        display: none;
        width: $dd-collapse-width-md;
        //padding-top: calc( $dd-collapse-content-padding-top-md + 25px);
        //padding-top: calc($dd-collapse-content-padding-top-md + 20px );
        padding-top: calc(10px + 2rem);
        background-color: white;
        heigth: 100%;
        border-left: 1px solid $dd-collapse-link-hover-bg;
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
      }

      &:hover{
        & > ul{
          display: block;
        }
        .icon{
          display: block;
        }
      }
    }
  }
}

