.owl-carousel .owl-stage,
.owl-carousel .owl-item{
  -ms-touch-action: auto;
  touch-action: auto;
}

.owl-dots{
  margin-top: calc($dd-gutter-width--desktop * 2) !important;
  margin-bottom: calc($dd-gutter-width--desktop * 2);
}

.owl-oneitem{
  overflow: hidden;
}

.owl-carousel.owl-theme .owl-stage-outer{
  overflow: inherit;
}

