.pager {
  justify-content: center;
  margin-bottom: calc($dd-gutter-width--desktop *2);

  a {
    background-color: $dd-pager-bg;
    color: $dd-pager-text;
    border-left: 1px solid white;
    padding: 8px 10px;
    min-width: 40px;
    display: inline-block;
    text-align: center;
  }

  .is-active {
    a {
      background-color: $dd-pager-bg-active;
      color: $dd-pager-text-active;
    }
  }
}
