.landing-page{
  padding-top: calc($dd-gutter-width--desktop);
  padding-bottom: calc($dd-gutter-width--desktop);
  @screen md{
    padding-top: calc($dd-gutter-width--desktop *3);
    padding-bottom: calc($dd-gutter-width--desktop *3);
  }
}

.promotion-banner {
  background-color: $dd-primary-light;

  .content {
    padding: calc($dd-gutter-width--desktop) calc($dd-gutter-width--desktop);

    h2{
      margin-top: 0;
      line-height: 1;
    }

    .field--name-field-short-description {
      color: $dd-gray-dark;
      margin-bottom: calc($dd-gutter-width--desktop);
    }

    @screen md {
      padding: calc($dd-gutter-width--desktop * 6);
      h2 {
        font-size: 2.5rem;

        .title--pre-text {
          font-size: 1.6rem;
          font-weight: 300;
          margin-bottom: $dd-gutter-width--desktop;
          display: block;
        }
      }

      .field--name-field-short-description {
        font-size: 1.1rem;
        margin-bottom: calc($dd-gutter-width--desktop * 2);
      }
    }
  }
}

.field--promotion-banner {
  &:nth-child(even) {
    .promotion-banner .row {
      flex-direction: row-reverse;
    }
  }
}
