.landing-page{
  padding-top: $dd-landing-page-padding;
  padding-bottom: $dd-landing-page-padding;
  @screen md{
    padding-top: $dd-landing-page-padding-md;
    padding-bottom: $dd-landing-page-padding-md;
  }
}

.promotion-banner {
  background-color: $dd-primary-light;
  margin-bottom: $dd-gutter-width--desktop;
  @screen md{
    margin-bottom: 0;
  }

  .content {
    padding: $dd-promotion-banner-padding;

    h2{
      margin-top: 0;
      line-height: 1;
      text-transform: uppercase;
      .title--pre-text {
        text-transform: none;
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: $dd-gutter-width--desktop;
        display: block;
      }
    }

    .field--name-field-short-description {
      color: $dd-gray-dark;
      margin-bottom: calc($dd-gutter-width--desktop);
    }

    @screen lg {
      padding:$dd-pomorition-banner-padding-md;
      h2 {
        font-size: 2.5rem;

        .title--pre-text {
          font-size: 1.6rem;
        }
      }

      .field--name-field-short-description {
        font-size: 1.1rem;
        margin-bottom: calc($dd-gutter-width--desktop * 2);
      }
    }
  }
}

.field--promotion-banner {
  &:nth-child(even) {
    .promotion-banner .row {
      flex-direction: row-reverse;
    }
  }
}

.paragraph--type--row{
  .field--item.col{
    margin-bottom: calc($dd-gutter-width--desktop * 2);
  }
}

.paragraph--type--image-with-link{
  position: relative;
  .field--name-field-button{
    position: absolute;
    bottom: $dd-text-with-image-text-position-y;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    max-width: 200px;
  }
}

.paragraph--type--call-us{
  margin-bottom: calc($dd-gutter-width--desktop * 2);
  position: relative;
  color: white;
  .field--name-field-first-line-title{
    position: absolute;
    top: $dd-gutter-width--desktop;
    right: $dd-gutter-width--desktop;
    font-weight: bold;
    font-size: 2rem;
    max-width: 500px;
    text-transform: uppercase;
    text-align: right;
  }
  .field--name-field-body{
    position: absolute;
    bottom: $dd-gutter-width--desktop;
    right: $dd-gutter-width--desktop;
    font-size: 3.3rem;
  }
}

