.states-box {
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  @screen md {
    font-size: 12px;
  }
}

.new-sign,
.new-version-sign {
  overflow: hidden;
  position: absolute;
  height: 80px;
  width: 80px;
  @screen md{
    width: 100px;
    height: 100px;
  }

  &:before,
  &:after {
    border: 5px solid $dd-new-color-darken;
    border-top-color: $dd-new-color-darken;
    border-left-color: $dd-new-color-darken;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }

  span {
    background-color: $dd-new-color;
    color: $dd-new-color-inverse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    display: block;
    padding: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;

    line-height: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 110px;
    @screen md{
      padding-bottom: 10px;
      padding-top: 10px;
      width: 150px;
      line-height: 14px;
    }
  }
}

.new-sign {
  left: -10px;
  top: -10px;

  &:before,
  &:after {
    border-left-color: transparent;
    border-top-color: transparent;
  }

  &:before {
    right: 1px;
    top: 1px;
    @screen md{
      right: 0;
      top: 0;
    }
  }

  &:after {
    bottom: 0;
    left: 0;
  }

  span {
    transform: rotate(-45deg);
    top: 25px;
    right: -9px;
    @screen md{
      top: 22px;
      right: -13px;
    }
  }
}

.new-version-sign {
  right: -10px;
  top: -10px;

  &:before,
  &:after {
    border-right-color: transparent;
    border-top-color: transparent;
  }

  &:before {
    left: 0;
    top: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }

  span {
    transform: rotate(45deg);
    left: -8px;
    top: 25px;
    @screen md{
      left: -12px;
      top: 22px;
    }
  }
}

.sale-sign {
  background: $dd-sale-color;
  color: white;

  display: inline-block;
  height: 3em;
  width: 3em;
  line-height: 3em;

  left: 15px;
  bottom: 15px;
  position: absolute;
  text-align: center;
  transform: rotate(-20deg);

  &:before,
  &:after {
    background: inherit;
    content: "";
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(30deg);
    width: inherit;
    z-index: -1;
  }

  &:after {
    transform: rotate(60deg);
  }
}

.product-body-pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#product-info {
  margin-top: 2rem;
}

.product-more-info-link {
  display: block;
  text-decoration: underline;
  font-weight: bold;
  color: $dd-gray-dark;
  margin-top: 10px;

  svg {
    fill: $dd-gray-dark;
    display: inline-block;
  }
}

/*
.product-cart-block {
  //background-color: $dd-product-cart-price-bg;

  .product-cart-block-inner {
    //align-items: center;
    justify-content: space-between;
    & > .col{
      min-height: 100%;
      .prices{
        display: flex;
        align-items: center;
        height: 100%;
      }
      .field--name-variations,
      .field--name-variations .field--item{
        height: 100%;
      }
      #commerce-product-add-to-cart-form{
        display: flex;
        height: 100%;
      }
    }
  }

  .prices {
    padding: $dd-gutter-width;

    @screen md{
      padding: $dd-gutter-width--desktop;
    }
  }

  .form-actions {
    margin: 1rem 0;

    button {
      width: 140px;
    }
  }

  .attribute-widgets {
    @apply row;
    align-items: center;
    justify-content: flex-end;

    & > div {
      @apply col-auto;
    }
  }

  .field--name-quantity {
    label {
      display: none;
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    //background-color: $dd-product-cart-bg;
    width: 100%;
    padding: calc($dd-gutter-width--desktop / 2) $dd-gutter-width--desktop;
    @screen lg {
      width: 340px;
    }
    .field--name-quantity {
     // margin-right: auto;
    }

    .field--name-quantity,
    .form-actions {
      @apply col-auto;
    }

    .form-item,
    .form-actions {
      margin-bottom: calc($dd-gutter-width--desktop / 2);
      margin-top: calc($dd-gutter-width--desktop / 2);
    }

    .form-actions{
      margin-left: calc($dd-gutter-width);
      @screen md{
        margin-left: calc($dd-gutter-width--desktop * 2);
      }
    }

    .js-form-type-select {
      display: flex;
      align-items: center;
      width: 100%;

      label {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: $dd-gutter-width--desktop;
        width: 120px;
      }

      .form-item-input-outer {
        width: 100%;
      }

      select {
        width: 100%;
      }
    }
  }
}*/

.product-search-api-teaser {
  border: $dd-border-light;
  margin-bottom: 2rem;

  h3 {
    margin-bottom: $dd-padding-sm;
    color: $dd-gray-dark;
    font-size: 1.2rem;

    a {
      color: inherit;
    }
  }

  .product-image {
    padding: $dd-padding-sm;
  }

  .product-infos {
    padding: $dd-padding-sm;
    border-top: $dd-border-light;
  }

  .form-actions {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

.product-full {

  h1{
    margin-top: 0;
    @apply text-3xl;
  }
  .product-image {
    margin-bottom: 1rem;
  }

  .sale-sign {
    bottom: 110px;
  }

  .commerce-order-item-add-to-cart-form{

    display: flex;
    flex-wrap: wrap;

    .field--widget-commerce-product-variation-attributes{
      width: 100%;
    }

    .field--name-quantity{
      label{
        display: none;
      }
    }

    .field--name-quantity{
      @apply col-auto;
      input{
        max-width: 140px;
      }
    }
    .form-actions{
      @apply col;
      margin-top: 0;
      margin-left: calc($dd-gutter-width--desktop);
    }

    .btn{
      min-height: 37px;
      display: block;
      width: 100%;
    }
  }

  .product-top-infos{
    margin-bottom: 2rem;
  }

  & > div > h2{
    text-align: center;
  }

  /*
  .field--name-price {
    @include price-style(lg);
    @apply flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;

    @screen md{
      display: block;
    }

    .base-price{
      margin-right: $dd-gutter-width;
    }
    .promotion-name{
      flex-basis: 100%;
      text-align: center;
      @screen md{
        text-align: left;
      }
    }
  }*/
}

.product-fivestar {
  //margin-top: $dd-padding-base;
  color: $dd-gray-dark;

  a {
    color: inherit;
  }
}
/*
.field--name-price {
  @include price-style(md);
}*/

.product-teaser {
  .product-image {
    position: relative;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: $dd-gutter-width;
    margin-bottom: $dd-gutter-width;
    color: $dd-gray-dark;
  }

  .form-actions {
    margin-top: $dd-gutter-width--desktop;
  }
}

.product-autocomplete-search {
  padding: $dd-gutter-width--desktop;
  /*
  .field--name-price {
    @include price-style(sm);
  }*/

  h2 {
    font-size: 1.0rem;
  }
}

.product-grid {
  display: block;
  height: 100%;

  .product-infos {
    padding: $dd-padding-base;
    border: $dd-product-list-border;
    text-align: $dd-product-list-text-align;
    h2{
      font-size: $dd-product-list-title-font-size;
      font-weight: $dd-product-list-title-font-weight;
      text-transform: $dd-product-list-title-text-transform;
    }
  }
}

.discontinued-product-text {
  font-weight: bold;
  @apply text-xl;
}

.discontinued-product-text,
.discontinued-product-price {
  padding-top: $dd-padding-base;
  padding-bottom: $dd-padding-base;
}
